body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(320, 64%, 45%);
    color: #1b28b6;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

#event-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.event-card {
    background-color: rgb(25, 175, 52);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(61, 35, 148, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card img {
    width: 100%;
    height: auto;
}

.event-card h2 {
    font-size: 1.5em;
    margin: 10px;
}

.event-card p {
    margin: 10px;
    font-size: 1em;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button.active {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: rgb(162, 46, 46);
    position: relative;
    bottom: 0;
    width: 100%;
}

.dark-mode {
    background-color: #1ba959;
    color: #f4f4f4;
}

.dark-mode header {
    background-color: #0e449a;
}

.dark-mode footer {
    background-c